# GCP credentials
credentials/
*.json

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Node.js
**/node_modules/
.next/

# Python
**/.venv/
__pycache__/

# Local config
.sre_playground.env
